---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: catalogue
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: catalogue
    spec:
      containers:
      - name: catalogue
        image: teamcloudyuga/catalogue-prometheus
        ports:
        - containerPort: 5001
---

apiVersion: v1
kind: Service
metadata:
  name: catalogue
  labels:
    app: catalogue
spec:
  ports:
  - port: 5001
    targetPort: 5001
    protocol: TCP
  selector:
    app: catalogue

