---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: user
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
      - name: user
        image: teamcloudyuga/user-prometheus
        ports:
        - containerPort: 5002
---

apiVersion: v1
kind: Service
metadata:
  name: user
  labels:
    app: user
spec:
  ports:
  - port: 5002
    targetPort: 5002
    protocol: TCP
  selector:
    app: user
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: userdb
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: userdb
    spec:
      volumes:
        - name: userdb
          emptyDir: {}
      containers:
      - name: userdb
        image: mongo
        volumeMounts:
        - name: userdb
          mountPath: /data/db
        ports:
        - containerPort: 27017
---
apiVersion: v1
kind: Service
metadata:
  name: userdb
  labels:
    app: userdb
spec:
  ports:
  - port: 27017
    protocol: TCP
  selector:
    app: userdb
